@mixin flex-property {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-container {
  @include flex-property;
  position: relative;
  height: 416px;

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      lightgray 20px -272.058px / 95.364% 230.797% no-repeat;
    opacity: 0.8;
    z-index: 1;
  }

  .news-image {
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      width: 100%;

      // filter: blur(2.5px);
    }
  }

  &-div {
    padding: 1rem;
    position: absolute;
    z-index: 3;
    height: 100%;
    display: flex;
    gap: 8rem;

    &-left {
      padding-left: 8rem;
      padding-top: 3.5rem;
      width: 50%;
      height: 100%;

      .newsletter-image {
        // box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
        transform: perspective(100px) rotateY(7deg);
        width: 150%;
        height: 275px;
        transition: transform 0.3s ease;
        > img {
          width: 100%;

          height: 100%;
        }
        &:hover {
          transform: scale(1);
        }
      }
    }

    &-right {
      width: 50%;
      // height: 100%;
      @include flex-property;
      // padding-left: 3rem;
      .newsLetter {
        display: flex;
        justify-content: start;
        flex-direction: column;
        gap: 1rem;
        .texts_container {
          h1 {
            color: #f5f5f5;
            font-family: Poppins;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border-bottom: 2px solid white;
          }
          p {
            color: #f5f5f5;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            padding-top: 0.5rem;
          }
        }
        .news-input-field {
          input {
            padding: 0 1rem;
            background: #d9d9d9;
            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
            width: 304px;
            height: 44px;
            border: none;
          }
          input::placeholder {
            color: rgba(0, 0, 0, 0.6);
            font-family: Poppins;
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-transform: uppercase;
          }
        }
        button {
          display: flex;
          width: 304px;
          padding: 10px 15px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: 2px solid #f5f5f5;
          background: rgba(237, 24, 32, 0.7);
          box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
          color: #f5f5f5;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .newsletter-container {
    height: 616px;
    .news-image {
      width: 100%;
    }
    &-div {
      height: 100%;
    }
  }
  .newsletter-container-div {
    flex-direction: column;
    gap: 3rem;
    &-left {
      width: 100%;
      padding-top: 0;
      padding-left: 0;
      height: auto;
      .newsletter-image {
        // box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
        // transform: perspective(100px) rotateY(7deg);
        transform: none;

        width: 120%;
        height: 275px;

        > img {
          width: 100%;

          height: 100%;
        }
      }
    }
  }

  .newsletter-container-div-right {
    width: 100%;
    height: auto;

    .newsLetter {
      // align-items: center;
    }
  }
}

@media only screen and (max-width: 425px) {
  .newsletter-container {
    // height: 516px;

    .news-image {
      width: 100% !important;
    }
    &-div {
      height: 100%;
    }
  }
  .newsletter-container-div {
    width: 100%;
    padding: 2rem;
  }
  .newsletter-image {
    // box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
    // transform: perspective(100px) rotateY(7deg);
    transform: none;
    display: flex !important;
    width: 130% !important;
    height: 14rem !important;
    padding-right: 2rem;

    > img {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .newsletter-container-div-right .newsLetter {
    .texts_container {
      h1 {
        font-size: 1rem;
      }
      p {
        font-size: 0.7rem;
      }
    }
    button {
      width: 9rem;
      padding: 5px 8px;
    }
    .news-input-field input {
      padding: 0 0.5rem;

      width: 10rem;
      height: 1.8rem;
    }
    .news-input-field input::placeholder {
      font-size: 0.6rem !important;
    }
  }
}
